@font-face {
  font-family: 'Avant Garde';
  src: url('~assets/fonts/AvantGarde.ttf');
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('~assets/fonts/FuturaPTBook.otf');
}

$avant-garde: 'Avant Garde';
$futura-book: 'Futura PT Book';
