@font-face {
  font-family: 'Avant Garde';
  src: url('~assets/fonts/AvantGarde.ttf');
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('~assets/fonts/MyriadPro.ttf');
}

$avant-garde: 'Avant Garde';
$myriad-pro: 'Myriad Pro';
