@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/bulma.sass';
@import '~bulma/sass/components/navbar.sass';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  // background: rgb(4, 31, 47);
  // background: linear-gradient(
  //   90deg,
  //   rgba(4, 31, 47, 1) 0%,
  //   rgba(3, 65, 79, 1) 97%
  // );
  // animation: breathe 17s ease infinite;
  // background-size: 400% 400%;
  // backface-visibility: hidden;
  // transform-style: preserve-3d;
  // -webkit-transform-style: preserve-3d;
  // -webkit-backface-visibility: hidden;
}

svg path {
  transition: fill 0.5s ease;
}

hr {
  border: 0;
  height: 3px;
  // background-image: linear-gradient(to right, $black, $dark-electric, $black);
  background-image: linear-gradient(
    90deg,
    rgba(4, 31, 47, 1) 0%,
    rgba(3, 65, 79, 1) 97%
  );
  width: 50%;
  margin: 0 auto;
}

// .icon-scroll {
//   width: 30px;
//   height: 50px;
//   // margin-left: -20px;
//   // top: 50%;
//   // margin-top: -35px;
//   box-shadow: inset 0 0 0 1px $gray;
//   border-radius: 25px;
//   position: absolute;
//   bottom: 35px;
//   left: 46%;

//   &:before {
//     content: '';
//     width: 8px;
//     height: 8px;
//     background: $gray;
//     // margin-left: -4px;
//     top: 1px;
//     border-radius: 4px;
//     animation-duration: 3s;
//     animation-iteration-count: infinite;
//     animation-name: scroll;
//     position: absolute;
//     left: 35%;
//   }
// }
